Proyecto Slapakab/flow de prueba.json
[
    {
        "id": "d33850cbc95a0c7b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "70b58a28df4c5dcf",
        "type": "mqtt in",
        "z": "d33850cbc95a0c7b",
        "name": "",
        "topic": "puerta_1/ID_detectado/unmatch",
        "qos": "2",
        "datatype": "auto",
        "broker": "b28d2bfe1e8b4833",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 170,
        "y": 140,
        "wires": [
            [
                "024a769aeac0c972"
            ]
        ]
    },
    {
        "id": "c7a0c5b532667d91",
        "type": "mqtt out",
        "z": "d33850cbc95a0c7b",
        "name": "",
        "topic": "puerta_1/IDs_cache",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b28d2bfe1e8b4833",
        "x": 360,
        "y": 320,
        "wires": []
    },
    {
        "id": "3958868e25981463",
        "type": "mqtt in",
        "z": "d33850cbc95a0c7b",
        "name": "",
        "topic": "puerta_1/ID_detectado/unmatch",
        "qos": "2",
        "datatype": "auto",
        "broker": "b28d2bfe1e8b4833",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 170,
        "y": 200,
        "wires": [
            [
                "465aaf07545ada31"
            ]
        ]
    },
    {
        "id": "024a769aeac0c972",
        "type": "debug",
        "z": "d33850cbc95a0c7b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 140,
        "wires": []
    },
    {
        "id": "465aaf07545ada31",
        "type": "debug",
        "z": "d33850cbc95a0c7b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 200,
        "wires": []
    },
    {
        "id": "4b9f62f47a1b5f21",
        "type": "inject",
        "z": "d33850cbc95a0c7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"idComun1\":\"88:109:194:73\",\"idComun2\":\"80:98:231:164\", \"idComun3\":\"000:000:000:000\", \"idComun4\":\"000:00:000:000\"}",
        "payloadType": "json",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "c7a0c5b532667d91"
            ]
        ]
    },
    {
        "id": "a844e0f2346ff040",
        "type": "mqtt in",
        "z": "d33850cbc95a0c7b",
        "name": "",
        "topic": "puerta_1/estado",
        "qos": "2",
        "datatype": "auto",
        "broker": "b28d2bfe1e8b4833",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 750,
        "y": 280,
        "wires": [
            [
                "9ef4836cfec4ffcf"
            ]
        ]
    },
    {
        "id": "acde4c3b138cee27",
        "type": "mqtt in",
        "z": "d33850cbc95a0c7b",
        "name": "",
        "topic": "puerta_1/IDs_cache/update",
        "qos": "2",
        "datatype": "auto",
        "broker": "b28d2bfe1e8b4833",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 780,
        "y": 340,
        "wires": [
            [
                "8e679580b3b3ec8d"
            ]
        ]
    },
    {
        "id": "9ef4836cfec4ffcf",
        "type": "debug",
        "z": "d33850cbc95a0c7b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 280,
        "wires": []
    },
    {
        "id": "8e679580b3b3ec8d",
        "type": "debug",
        "z": "d33850cbc95a0c7b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 340,
        "wires": []
    },
    {
        "id": "805abff742cdfee3",
        "type": "mqtt in",
        "z": "d33850cbc95a0c7b",
        "name": "",
        "topic": "puerta_1/puerta/estado",
        "qos": "2",
        "datatype": "auto",
        "broker": "b28d2bfe1e8b4833",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 720,
        "y": 420,
        "wires": [
            [
                "96cbe4251d5f57a2"
            ]
        ]
    },
    {
        "id": "96cbe4251d5f57a2",
        "type": "debug",
        "z": "d33850cbc95a0c7b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 420,
        "wires": []
    },
    {
        "id": "86aaeaee173ab58c",
        "type": "mqtt out",
        "z": "d33850cbc95a0c7b",
        "name": "",
        "topic": "puerta_1/puerta/abrir",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b28d2bfe1e8b4833",
        "x": 360,
        "y": 400,
        "wires": []
    },
    {
        "id": "043877daae8c1e77",
        "type": "inject",
        "z": "d33850cbc95a0c7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 120,
        "y": 400,
        "wires": [
            [
                "86aaeaee173ab58c"
            ]
        ]
    },
    {
        "id": "b28d2bfe1e8b4833",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]