Tarea123Grupo8/flujoDHT.json
[
    {
        "id": "33fbaaef875ea5c7",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "53919e9352c07c01",
        "type": "mqtt in",
        "z": "33fbaaef875ea5c7",
        "name": "",
        "topic": "infind/GRUPO8/datos",
        "qos": "2",
        "datatype": "auto",
        "broker": "78a248d7449de1b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 300,
        "y": 100,
        "wires": [
            [
                "ba0d1cecbe0235f6"
            ]
        ]
    },
    {
        "id": "68208eefc935305d",
        "type": "mqtt out",
        "z": "33fbaaef875ea5c7",
        "name": "",
        "topic": "infind/GRUPO8/led/cmd",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "78a248d7449de1b6",
        "x": 850,
        "y": 1140,
        "wires": []
    },
    {
        "id": "f3c70ea2e7f20690",
        "type": "ui_slider",
        "z": "33fbaaef875ea5c7",
        "name": "",
        "label": "Luminosidad LED",
        "tooltip": "",
        "group": "3421770fccb87a46",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "led",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 200,
        "y": 1140,
        "wires": [
            [
                "4dfb7179394fc610"
            ]
        ]
    },
    {
        "id": "f7a4d60aaf8642c8",
        "type": "debug",
        "z": "33fbaaef875ea5c7",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 1200,
        "wires": []
    },
    {
        "id": "ba0d1cecbe0235f6",
        "type": "json",
        "z": "33fbaaef875ea5c7",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 100,
        "wires": [
            [
                "f4b8ba1d9952d4e1",
                "8335d39d28c3a0a9",
                "b709b709e990f518",
                "14015571851fda49",
                "1f50a55a51e07590",
                "29dda00e30074bf9",
                "411997f92c61fc3e",
                "f9784d6a4ea46c13",
                "d25cbf7d6ee259be"
            ]
        ]
    },
    {
        "id": "f4b8ba1d9952d4e1",
        "type": "change",
        "z": "33fbaaef875ea5c7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sDHT11.temp",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Temperatura",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 80,
        "wires": [
            [
                "263b2b126472c5a1"
            ]
        ]
    },
    {
        "id": "8335d39d28c3a0a9",
        "type": "change",
        "z": "33fbaaef875ea5c7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sDHT11.hum",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Humedad",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 180,
        "wires": [
            [
                "92e3ba809a991ec7"
            ]
        ]
    },
    {
        "id": "b709b709e990f518",
        "type": "change",
        "z": "33fbaaef875ea5c7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LED",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "LED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 260,
        "wires": [
            [
                "b0cdfc55ad9cb9d4"
            ]
        ]
    },
    {
        "id": "263b2b126472c5a1",
        "type": "ui_gauge",
        "z": "33fbaaef875ea5c7",
        "name": "",
        "group": "03d7cdc07a127a3a",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": "-20",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1070,
        "y": 100,
        "wires": []
    },
    {
        "id": "92e3ba809a991ec7",
        "type": "ui_gauge",
        "z": "33fbaaef875ea5c7",
        "name": "",
        "group": "03d7cdc07a127a3a",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%HR",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1040,
        "y": 180,
        "wires": []
    },
    {
        "id": "b0cdfc55ad9cb9d4",
        "type": "ui_text",
        "z": "33fbaaef875ea5c7",
        "group": "3421770fccb87a46",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Estado LED",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1060,
        "y": 260,
        "wires": []
    },
    {
        "id": "14015571851fda49",
        "type": "change",
        "z": "33fbaaef875ea5c7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Uptime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 340,
        "wires": [
            [
                "8714da4e969f85be"
            ]
        ]
    },
    {
        "id": "8714da4e969f85be",
        "type": "ui_text",
        "z": "33fbaaef875ea5c7",
        "group": "23d4dc5f7ed4177b",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Uptime",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1060,
        "y": 340,
        "wires": []
    },
    {
        "id": "1f50a55a51e07590",
        "type": "change",
        "z": "33fbaaef875ea5c7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Vcc",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Vcc",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 420,
        "wires": [
            [
                "542d7461b620a251"
            ]
        ]
    },
    {
        "id": "542d7461b620a251",
        "type": "ui_text",
        "z": "33fbaaef875ea5c7",
        "group": "03d7cdc07a127a3a",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vcc",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1050,
        "y": 420,
        "wires": []
    },
    {
        "id": "d25cbf7d6ee259be",
        "type": "change",
        "z": "33fbaaef875ea5c7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.SSID",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "SSID",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 500,
        "wires": [
            [
                "d3738e68ccf3a79c"
            ]
        ]
    },
    {
        "id": "d3738e68ccf3a79c",
        "type": "ui_text",
        "z": "33fbaaef875ea5c7",
        "group": "23d4dc5f7ed4177b",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSID",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1050,
        "y": 500,
        "wires": []
    },
    {
        "id": "29dda00e30074bf9",
        "type": "change",
        "z": "33fbaaef875ea5c7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.IP",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "IP",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 580,
        "wires": [
            [
                "695df66e1486ee2a"
            ]
        ]
    },
    {
        "id": "695df66e1486ee2a",
        "type": "ui_text",
        "z": "33fbaaef875ea5c7",
        "group": "23d4dc5f7ed4177b",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1050,
        "y": 580,
        "wires": []
    },
    {
        "id": "411997f92c61fc3e",
        "type": "change",
        "z": "33fbaaef875ea5c7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.RSSI",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "RSSI",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 660,
        "wires": [
            [
                "5218b6f43a6f7c14"
            ]
        ]
    },
    {
        "id": "5218b6f43a6f7c14",
        "type": "ui_text",
        "z": "33fbaaef875ea5c7",
        "group": "23d4dc5f7ed4177b",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RRSI",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1050,
        "y": 660,
        "wires": []
    },
    {
        "id": "4dfb7179394fc610",
        "type": "change",
        "z": "33fbaaef875ea5c7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"level\":$.payload}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1140,
        "wires": [
            [
                "68208eefc935305d",
                "f7a4d60aaf8642c8"
            ]
        ]
    },
    {
        "id": "f9784d6a4ea46c13",
        "type": "debug",
        "z": "33fbaaef875ea5c7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 240,
        "wires": []
    },
    {
        "id": "ded33419a7c777b4",
        "type": "mqtt in",
        "z": "33fbaaef875ea5c7",
        "name": "",
        "topic": "infind/GRUPO8/conexion",
        "qos": "2",
        "datatype": "auto",
        "broker": "78a248d7449de1b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 210,
        "y": 960,
        "wires": [
            [
                "7af1d0fbb5f9fa66"
            ]
        ]
    },
    {
        "id": "7af1d0fbb5f9fa66",
        "type": "json",
        "z": "33fbaaef875ea5c7",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 490,
        "y": 960,
        "wires": [
            [
                "2e247464b3662bea"
            ]
        ]
    },
    {
        "id": "2e247464b3662bea",
        "type": "change",
        "z": "33fbaaef875ea5c7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.online",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Online",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "Online",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "Offline",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 960,
        "wires": [
            [
                "c38bb66f9cb6659e"
            ]
        ]
    },
    {
        "id": "c38bb66f9cb6659e",
        "type": "ui_text",
        "z": "33fbaaef875ea5c7",
        "group": "23d4dc5f7ed4177b",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Estado",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1100,
        "y": 960,
        "wires": []
    },
    {
        "id": "78a248d7449de1b6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "3421770fccb87a46",
        "type": "ui_group",
        "name": "LED",
        "tab": "0cec1eade5278f11",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "03d7cdc07a127a3a",
        "type": "ui_group",
        "name": "Lectura Sensores",
        "tab": "0cec1eade5278f11",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "23d4dc5f7ed4177b",
        "type": "ui_group",
        "name": "Conexión",
        "tab": "0cec1eade5278f11",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0cec1eade5278f11",
        "type": "ui_tab",
        "name": "Tarea ESP8266",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]