Proyecto Slapakab/BaseDatos/FlujoDatos.json
[
    {
        "id": "4261ebd7f96bb503",
        "type": "tab",
        "label": "Skapalab - USUARIOS",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a8ee48fc3248decb",
        "type": "tab",
        "label": "Skapalab - SALAS",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d1bd5f5047fbe178",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "b4eb3d3dca556878",
        "type": "ui_group",
        "name": "Historiales",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e18675c0e8491a0e",
        "type": "ui_group",
        "name": "Gauges",
        "tab": "",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0d8ab506c19c508b",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "dfefd42be31cab40",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "e151e1d008301ff9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "2de6eedc1fa4c588",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "4cbc01ddfb07fefc",
        "type": "ui_group",
        "name": "SENSORS DATA",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4421c708cfe58085",
        "type": "ui_group",
        "name": "CONTROL LEDS",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5ed624a9a6edd788",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b2c1b570479ce91e",
        "type": "ui_group",
        "name": "Humedad",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c57fbfa6ca334690",
        "type": "ui_group",
        "name": "Presión",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "071c847d45d8d3b4",
        "type": "ui_group",
        "name": "Iluminación",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "100866f60dd6b3cb",
        "type": "ui_group",
        "name": "Conexión",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e5b8784f5838f34a",
        "type": "mongodb",
        "hostname": "localhost",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "prueba",
        "name": ""
    },
    {
        "id": "45a7d5cc.b3cb3c",
        "type": "ui_group",
        "name": "Registros de los últimos 10 minutos desde hace 5 minutos",
        "tab": "ff6ad649.003498",
        "order": 1,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ff6ad649.003498",
        "type": "ui_tab",
        "name": "Ejemplo Mongo",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f62ab646e3b2c7d9",
        "type": "ui_group",
        "name": "Últimos Datos",
        "tab": "ff6ad649.003498",
        "order": 3,
        "disp": false,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a2b23a377738b01a",
        "type": "ui_group",
        "name": "Control",
        "tab": "ff6ad649.003498",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "48b06cea27af03c7",
        "type": "ui_group",
        "name": "Registros por temperatura",
        "tab": "ff6ad649.003498",
        "order": 2,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f605fa69.8f5008",
        "type": "mongodb",
        "hostname": "iot.ac.uma.es",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "II8",
        "name": ""
    },
    {
        "id": "c7a3425e606353b2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "a0ee0fa8eae04a85",
        "type": "telegram bot",
        "botname": "AemetFernando2122_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "00a8d7012236d5d9",
        "type": "telegram bot",
        "botname": "SkapaLaBot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "3cc01e3e385d0ded",
        "type": "chatbot-telegram-node",
        "botname": "SkapaLaBot",
        "usernames": "",
        "token": "5084907312:AAFDpRGPmrdDihcbN7ZjePncQ779rPZBYWc",
        "providerToken": "",
        "polling": "1",
        "store": "",
        "log": "",
        "debug": false,
        "webHook": "",
        "connectMode": "polling"
    },
    {
        "id": "6052dbb45f086c0c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "dfeb4f7103d9f61a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "06c2acdce6287ce8",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "ejercicio",
        "name": ""
    },
    {
        "id": "c3c8c1dd31f8b3c2",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "ejercicio",
        "name": ""
    },
    {
        "id": "3bb0542f487e3e1a",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "ejercicio",
        "name": ""
    },
    {
        "id": "14e5d3c3240e4ad3",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "ejercicio",
        "name": ""
    },
    {
        "id": "2b4119c5ef03bd25",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "ejercicio",
        "name": ""
    },
    {
        "id": "ecffd46b17c1adab",
        "type": "ui_group",
        "name": "Conexión",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aafa679d29e9b741",
        "type": "ui_group",
        "name": "Selección Límite Registros",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c4b6a79009246dff",
        "type": "ui_group",
        "name": "Selección Temperatura Mínima",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "45d5d3385eeb423a",
        "type": "ui_group",
        "name": "Últimos 5 Min",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "da4e1fc8a237efff",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "ejercicio",
        "name": ""
    },
    {
        "id": "2285489cb233f453",
        "type": "ui_group",
        "name": "Entre hace 5 y 15 min",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5fa4ef561478b77c",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "ejercicio",
        "name": ""
    },
    {
        "id": "1fcd809c305f1425",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "ejercicio",
        "name": ""
    },
    {
        "id": "7056efce268b6a61",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "20b866865426f373",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "424be61cede35da8",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "70462dfdf7f2eace",
        "type": "ui_group",
        "name": "Registro Nuevos Usuarios",
        "tab": "a8f33caba2aa5d3b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3d710e6c9d34e39f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "505ab5e52d2009b7",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ebb0b39abcf4d936",
        "type": "ui_group",
        "name": "LEDs",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fc64d651a2d05233",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a3eb2672e3840940",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "port": "27017",
        "db": "prueba",
        "name": ""
    },
    {
        "id": "9ce1de9f1272e4dd",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b3794ed6f8c3e20a",
        "type": "ui_group",
        "name": "datos",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "3b13d5b67d91ad68",
        "type": "ui_group",
        "name": "leds",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "241262896ec7fcce",
        "type": "ui_group",
        "name": "histograma",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "9",
        "collapse": false
    },
    {
        "id": "abbb632609badef9",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "port": "27017",
        "db": "ejercicio",
        "name": ""
    },
    {
        "id": "e85f19f301f7812b",
        "type": "ui_group",
        "name": "Charts Sensores",
        "tab": "",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "702137777bfe85cf",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1582e24ef93461b2",
        "type": "ui_group",
        "name": "InfoConexion",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0e25cd81a5d4415e",
        "type": "ui_group",
        "name": "SensoresJSON",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "704d13f14caa9384",
        "type": "ui_group",
        "name": "Lectura Sensor",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6c5e0601d320acc5",
        "type": "ui_link",
        "name": "Link 2",
        "icon": "open_in_browser",
        "target": "newtab",
        "order": 2
    },
    {
        "id": "b84bfdaa0c66f4ef",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "63b729607f721f51",
        "type": "ui_group",
        "name": "Lectura Luz",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "78f58297a8492ba1",
        "type": "ui_group",
        "name": "Lectura Sensores",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "48fbf5099aa6392e",
        "type": "ui_group",
        "name": "LED",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "69d325a87dd6f30a",
        "type": "telegram bot",
        "botname": "minuevobot2020_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "ac0802755d02097d",
        "type": "telegram bot",
        "botname": "previsionAEMET_InfInd_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "34b41b2a197775ab",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "",
        "name": ""
    },
    {
        "id": "2e604f11a27a3a2f",
        "type": "mongodb",
        "hostname": "iot.ac.uma.es",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "II8",
        "name": ""
    },
    {
        "id": "a8f33caba2aa5d3b",
        "type": "ui_tab",
        "name": "Skapalab",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2172d09c7291d370",
        "type": "mongodb in",
        "z": "4261ebd7f96bb503",
        "mongodb": "f605fa69.8f5008",
        "name": "",
        "collection": "usuarios",
        "operation": "aggregate",
        "x": 620,
        "y": 460,
        "wires": [
            [
                "dc85d97060446132"
            ]
        ]
    },
    {
        "id": "81e0c4b49da09df5",
        "type": "debug",
        "z": "4261ebd7f96bb503",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1410,
        "y": 240,
        "wires": []
    },
    {
        "id": "394021f73750de7d",
        "type": "mongodb out",
        "z": "4261ebd7f96bb503",
        "mongodb": "f605fa69.8f5008",
        "name": "",
        "collection": "usuarios",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1460,
        "y": 160,
        "wires": []
    },
    {
        "id": "72af7c3318c929f3",
        "type": "inject",
        "z": "4261ebd7f96bb503",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 290,
        "y": 460,
        "wires": [
            [
                "2172d09c7291d370"
            ]
        ]
    },
    {
        "id": "dc85d97060446132",
        "type": "debug",
        "z": "4261ebd7f96bb503",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 460,
        "wires": []
    },
    {
        "id": "ecaf6395563eb600",
        "type": "mongodb out",
        "z": "4261ebd7f96bb503",
        "mongodb": "2e604f11a27a3a2f",
        "name": "",
        "collection": "usuarios",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 600,
        "y": 760,
        "wires": []
    },
    {
        "id": "4b12cd1a7068b1e0",
        "type": "inject",
        "z": "4261ebd7f96bb503",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 270,
        "y": 760,
        "wires": [
            [
                "ecaf6395563eb600"
            ]
        ]
    },
    {
        "id": "bb9333a493a392dd",
        "type": "comment",
        "z": "4261ebd7f96bb503",
        "name": "Lectura registros base de datos",
        "info": "",
        "x": 350,
        "y": 400,
        "wires": []
    },
    {
        "id": "fcea2e24d3fb2e38",
        "type": "comment",
        "z": "4261ebd7f96bb503",
        "name": "Borrado de la base de datos",
        "info": "",
        "x": 320,
        "y": 700,
        "wires": []
    },
    {
        "id": "6d9580262b4d324e",
        "type": "comment",
        "z": "4261ebd7f96bb503",
        "name": "Registro en la base de datos",
        "info": "",
        "x": 340,
        "y": 60,
        "wires": []
    },
    {
        "id": "cc04bdedc8a78743",
        "type": "ui_form",
        "z": "4261ebd7f96bb503",
        "name": "",
        "label": "Registro Usuario",
        "group": "70462dfdf7f2eace",
        "order": 7,
        "width": "0",
        "height": "0",
        "options": [
            {
                "label": "Nombre Completo",
                "value": "Nombre",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Arranque",
                "value": "Arranque",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "Maker",
                "value": "Maker",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "Entusiasta",
                "value": "Entusiasta",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "Profesional",
                "value": "Profesional",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "Fecha Vencimiento",
                "value": "Fecha Vencimiento",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "Acceso CNC",
                "value": "Acceso CNC",
                "type": "switch",
                "required": true,
                "rows": null
            },
            {
                "label": "Acceso 3D",
                "value": "Acceso 3D",
                "type": "switch",
                "required": true,
                "rows": null
            },
            {
                "label": "ID NFC",
                "value": "ID NFC",
                "type": "number",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "Nombre": "",
            "Arranque": false,
            "Maker": false,
            "Entusiasta": false,
            "Profesional": false,
            "Fecha Vencimiento": "",
            "Acceso CNC": false,
            "Acceso 3D": false,
            "ID NFC": ""
        },
        "payload": "",
        "submit": "Registrar",
        "cancel": "Cancelar",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "x": 330,
        "y": 160,
        "wires": [
            [
                "5973eef501b196aa",
                "fa8deef377c530f2"
            ]
        ]
    },
    {
        "id": "5973eef501b196aa",
        "type": "debug",
        "z": "4261ebd7f96bb503",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 220,
        "wires": []
    },
    {
        "id": "fa8deef377c530f2",
        "type": "function",
        "z": "4261ebd7f96bb503",
        "name": "",
        "func": "var Arranque = msg.payload.Arranque;\nvar Maker = msg.payload.Maker;\nvar Entusiasta = msg.payload.Entusiasta;\nvar Profesional = msg.payload.Profesional; \n\nif (Arranque == true)\n{\n    msg.payload.Suscripcion = \"Arranque\"\n}\nelse if (Maker == true)\n{\n    msg.payload.Suscripcion = \"Maker\"\n}\nelse if (Entusiasta == true)\n{\n    msg.payload.Suscripcion = \"Entusiasta\"\n}\nelse if (Profesional == true)\n{\n    msg.payload.Suscripcion = \"Profesional\"\n}\n\nmsg.payload.date = new Date();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 160,
        "wires": [
            [
                "ecf1278676838dc2"
            ]
        ]
    },
    {
        "id": "ecf1278676838dc2",
        "type": "change",
        "z": "4261ebd7f96bb503",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "payload.Arranque",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.Maker",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.Entusiasta",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.Profesional",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 160,
        "wires": [
            [
                "394021f73750de7d",
                "81e0c4b49da09df5"
            ]
        ]
    },
    {
        "id": "5ad5ad74da4b38d3",
        "type": "debug",
        "z": "a8ee48fc3248decb",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 360,
        "wires": []
    },
    {
        "id": "cdc7cd0e452c49c3",
        "type": "mongodb out",
        "z": "a8ee48fc3248decb",
        "mongodb": "2e604f11a27a3a2f",
        "name": "",
        "collection": "reservas",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 960,
        "y": 260,
        "wires": []
    },
    {
        "id": "fecdf714a15e1f2d",
        "type": "mongodb in",
        "z": "a8ee48fc3248decb",
        "mongodb": "2e604f11a27a3a2f",
        "name": "",
        "collection": "reservas",
        "operation": "aggregate",
        "x": 520,
        "y": 640,
        "wires": [
            [
                "e0f639e0dc96f3ad"
            ]
        ]
    },
    {
        "id": "c0a785af1a4fe760",
        "type": "inject",
        "z": "a8ee48fc3248decb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 190,
        "y": 640,
        "wires": [
            [
                "fecdf714a15e1f2d"
            ]
        ]
    },
    {
        "id": "5b45faa0f63d3bde",
        "type": "debug",
        "z": "a8ee48fc3248decb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 640,
        "wires": []
    },
    {
        "id": "6018bb4c042c56fe",
        "type": "mongodb out",
        "z": "a8ee48fc3248decb",
        "mongodb": "2e604f11a27a3a2f",
        "name": "",
        "collection": "reservas",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 520,
        "y": 820,
        "wires": []
    },
    {
        "id": "5c58386097e8f994",
        "type": "inject",
        "z": "a8ee48fc3248decb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 190,
        "y": 820,
        "wires": [
            [
                "6018bb4c042c56fe"
            ]
        ]
    },
    {
        "id": "93bd3bac41eeba8f",
        "type": "comment",
        "z": "a8ee48fc3248decb",
        "name": "Lectura registros base de datos",
        "info": "",
        "x": 250,
        "y": 580,
        "wires": []
    },
    {
        "id": "cbccf7e8a66ad06a",
        "type": "comment",
        "z": "a8ee48fc3248decb",
        "name": "Borrado de la base de datos",
        "info": "",
        "x": 240,
        "y": 760,
        "wires": []
    },
    {
        "id": "b9562630dd7d80a1",
        "type": "function",
        "z": "a8ee48fc3248decb",
        "name": "",
        "func": "msg.payload.id_usuario = 123;\nmsg.payload.sala = \"3D\"; \nmsg.payload.hora_inicio = 15; \nmsg.payload.hora_fin = 18; \n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 260,
        "wires": [
            [
                "5ad5ad74da4b38d3",
                "cdc7cd0e452c49c3"
            ]
        ]
    },
    {
        "id": "06595af7a82810e3",
        "type": "inject",
        "z": "a8ee48fc3248decb",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 190,
        "y": 260,
        "wires": [
            [
                "b9562630dd7d80a1"
            ]
        ]
    },
    {
        "id": "9f8fbef204e002cb",
        "type": "function",
        "z": "a8ee48fc3248decb",
        "name": "Variables Globales",
        "func": "var aforo_max_CNC; \nvar aforo_max_3D;\nvar aforo_real_CNC;\nvar aforo_real_3D;\nvar num_accesos_CNC;\nvar num_accesos_3D;\n\nglobal.set(\"aforo_max_CNC\",2); \nglobal.set(\"aforo_max_3D\",4); \n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "e0f639e0dc96f3ad",
        "type": "function",
        "z": "a8ee48fc3248decb",
        "name": "",
        "func": "db.reservas.aggregate([\n    {$match: {sala: \"3D\"}}\n    \n    ])\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 640,
        "wires": [
            [
                "5b45faa0f63d3bde"
            ]
        ]
    }
]