Proyecto Slapakab/Telegram/flowTelegram.json
[
    {
        "id": "6fd240d0a5125c84",
        "type": "tab",
        "label": "SkapaLaBot",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8e8fdf31617df255",
        "type": "chatbot-telegram-send",
        "z": "6fd240d0a5125c84",
        "bot": "3cc01e3e385d0ded",
        "botProduction": "",
        "track": false,
        "passThrough": false,
        "errorOutput": false,
        "outputs": 0,
        "x": 1150,
        "y": 80,
        "wires": []
    },
    {
        "id": "99910f74f235cb3c",
        "type": "chatbot-telegram-receive",
        "z": "6fd240d0a5125c84",
        "bot": "3cc01e3e385d0ded",
        "botProduction": "",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "ed8f32951b9a195b",
                "a5438f06dc0d3d34"
            ]
        ]
    },
    {
        "id": "ed8f32951b9a195b",
        "type": "chatbot-rules",
        "z": "6fd240d0a5125c84",
        "name": "comandos públicos",
        "rules": [
            {
                "type": "notMessageType",
                "messageType": "command"
            },
            {
                "type": "command",
                "command": "/start"
            },
            {
                "type": "command",
                "command": "/contacto"
            },
            {
                "type": "command",
                "command": "/preguntasFrecuentes"
            },
            {
                "type": "command",
                "command": "/asociarUsuario"
            }
        ],
        "outputs": 5,
        "x": 330,
        "y": 180,
        "wires": [
            [
                "0865b21e5b1a6818"
            ],
            [
                "dc439295dc0c5563"
            ],
            [
                "049f0996267bdb98"
            ],
            [
                "bfdf8a2b6ca9f1a2"
            ],
            [
                "fb88ae0d883c4c8a"
            ]
        ]
    },
    {
        "id": "dc439295dc0c5563",
        "type": "chatbot-message",
        "z": "6fd240d0a5125c84",
        "name": "Bienvenida",
        "message": [
            {
                "message": "Hola, soy el bot de SkapaLab.\nPuedes comunicarte conmigo usando los siguientes comandos:\n\nComandos públicos:\n/start\n/contacto\n/preguntasFrecuentes\n/asociarUsuario\n\nComandos para usuarios registrados:\n/reservaCNC\n/reservaImpresora3D\n\nEn cualquier momento puedes escribir /salir para que te deje en paz."
            }
        ],
        "language": "none",
        "x": 590,
        "y": 140,
        "wires": [
            [
                "f46a7f61817ffe4c"
            ]
        ]
    },
    {
        "id": "049f0996267bdb98",
        "type": "chatbot-message",
        "z": "6fd240d0a5125c84",
        "name": "Contacto",
        "message": [
            {
                "message": "Datos de contacto:\n- Teléfono Skapalab: 98734534\n- Ubicación Skapalab: pimpum\n- Telegram de Idir: link a su telegram?\n- no sé si más cosas"
            }
        ],
        "language": "none",
        "x": 580,
        "y": 200,
        "wires": [
            [
                "f46a7f61817ffe4c"
            ]
        ]
    },
    {
        "id": "0865b21e5b1a6818",
        "type": "chatbot-message",
        "z": "6fd240d0a5125c84",
        "name": "No entiendo humano",
        "message": [
            {
                "message": "Por desgracia mi inteligencia no llega a tanto. Por favor usa comandos para comunicarte conmigo a no ser que te pida otra cosa. \n\nPara un resumen de los comandos puedes usar /start."
            }
        ],
        "language": "none",
        "x": 620,
        "y": 80,
        "wires": [
            [
                "f46a7f61817ffe4c"
            ]
        ]
    },
    {
        "id": "04a9f4491e8735ef",
        "type": "chatbot-message",
        "z": "6fd240d0a5125c84",
        "name": "Preguntas frecuentes",
        "message": [
            {
                "message": "- ¿Es el acceso a SkapaLab gratuito?\n+ No\n\n- ¿Qué máquinas hay disponibles?\n+ Cositas\n\n- etc"
            }
        ],
        "language": "none",
        "x": 620,
        "y": 260,
        "wires": [
            [
                "f46a7f61817ffe4c"
            ]
        ]
    },
    {
        "id": "a5438f06dc0d3d34",
        "type": "chatbot-rules",
        "z": "6fd240d0a5125c84",
        "name": "comandos de usuario",
        "rules": [
            {
                "type": "command",
                "command": "/reservaCNC"
            },
            {
                "type": "command",
                "command": "/reservaImpresora3D"
            }
        ],
        "outputs": 2,
        "x": 340,
        "y": 420,
        "wires": [
            [
                "fb88ae0d883c4c8a"
            ],
            [
                "fb88ae0d883c4c8a"
            ]
        ]
    },
    {
        "id": "fb88ae0d883c4c8a",
        "type": "link out",
        "z": "6fd240d0a5125c84",
        "name": "verificación de usuario",
        "links": [
            "8f0d13999e0aee8b"
        ],
        "x": 495,
        "y": 420,
        "wires": []
    },
    {
        "id": "0c1a09a0e803ec36",
        "type": "mongodb in",
        "z": "6fd240d0a5125c84",
        "mongodb": "f605fa69.8f5008",
        "name": "Comprobar usuario por chatId en DB",
        "collection": "usuarios",
        "operation": "count",
        "x": 450,
        "y": 820,
        "wires": [
            [
                "6b0c0a5920a6ccde"
            ]
        ]
    },
    {
        "id": "c24df7029abc4988",
        "type": "function",
        "z": "6fd240d0a5125c84",
        "name": "Extraer chatId",
        "func": "msg.telegram = msg.payload;\nmsg.payload = {\"id_telegram\": {\"$eq\": msg.payload.chatId}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 820,
        "wires": [
            [
                "0c1a09a0e803ec36"
            ]
        ]
    },
    {
        "id": "8f0d13999e0aee8b",
        "type": "link in",
        "z": "6fd240d0a5125c84",
        "name": "",
        "links": [
            "fb88ae0d883c4c8a"
        ],
        "x": 75,
        "y": 820,
        "wires": [
            [
                "c24df7029abc4988"
            ]
        ]
    },
    {
        "id": "6b0c0a5920a6ccde",
        "type": "link out",
        "z": "6fd240d0a5125c84",
        "name": "",
        "links": [
            "04b57283547fdcbb"
        ],
        "x": 635,
        "y": 820,
        "wires": []
    },
    {
        "id": "04b57283547fdcbb",
        "type": "link in",
        "z": "6fd240d0a5125c84",
        "name": "",
        "links": [
            "6b0c0a5920a6ccde"
        ],
        "x": 545,
        "y": 420,
        "wires": [
            [
                "ef3a1d2c457db1bd"
            ]
        ]
    },
    {
        "id": "ef3a1d2c457db1bd",
        "type": "switch",
        "z": "6fd240d0a5125c84",
        "name": "¿Está este Id de Telegram registrado?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 730,
        "y": 420,
        "wires": [
            [
                "5007b5e872387cc1"
            ],
            [
                "0fdb0d3df1d2a9e5"
            ]
        ]
    },
    {
        "id": "b117ac281409207a",
        "type": "chatbot-telegram-send",
        "z": "6fd240d0a5125c84",
        "bot": "3cc01e3e385d0ded",
        "botProduction": "",
        "track": true,
        "passThrough": false,
        "errorOutput": false,
        "outputs": 1,
        "x": 1090,
        "y": 320,
        "wires": [
            [
                "1f949d404d535968",
                "18db231071e15336"
            ]
        ]
    },
    {
        "id": "5007b5e872387cc1",
        "type": "chatbot-message",
        "z": "6fd240d0a5125c84",
        "name": "Preguntar nombre",
        "message": [
            {
                "message": "No pareces estar en la base de datos. ¿Cómo te llamas? (Nombre y primer apellido).\n\nSi no quieres continuar con el proceso de registro, escribe /salir"
            }
        ],
        "language": "none",
        "x": 870,
        "y": 320,
        "wires": [
            [
                "b117ac281409207a"
            ]
        ]
    },
    {
        "id": "86fb110a3c7019cd",
        "type": "mongodb in",
        "z": "6fd240d0a5125c84",
        "mongodb": "f605fa69.8f5008",
        "name": "Comprobar usuario por nombre en DB",
        "collection": "usuarios",
        "operation": "count",
        "x": 450,
        "y": 1000,
        "wires": [
            [
                "79d9faf4cc43b2db"
            ]
        ]
    },
    {
        "id": "403adaf0586b6c2f",
        "type": "function",
        "z": "6fd240d0a5125c84",
        "name": "Extraer nombre",
        "func": "if (msg.payload.content != \"/salir\") {\n    msg.payload = {\"nombre\": {\"$eq\": msg.payload.content}};\n    msg.nombre = msg.payload.content;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 1000,
        "wires": [
            [
                "86fb110a3c7019cd"
            ]
        ]
    },
    {
        "id": "1761407df193db2e",
        "type": "link in",
        "z": "6fd240d0a5125c84",
        "name": "",
        "links": [
            "1f949d404d535968"
        ],
        "x": 75,
        "y": 1000,
        "wires": [
            [
                "403adaf0586b6c2f"
            ]
        ]
    },
    {
        "id": "79d9faf4cc43b2db",
        "type": "link out",
        "z": "6fd240d0a5125c84",
        "name": "",
        "links": [
            "86a3677b784bf3eb"
        ],
        "x": 635,
        "y": 1000,
        "wires": []
    },
    {
        "id": "1f949d404d535968",
        "type": "link out",
        "z": "6fd240d0a5125c84",
        "name": "",
        "links": [
            "1761407df193db2e"
        ],
        "x": 1215,
        "y": 320,
        "wires": []
    },
    {
        "id": "86a3677b784bf3eb",
        "type": "link in",
        "z": "6fd240d0a5125c84",
        "name": "",
        "links": [
            "79d9faf4cc43b2db"
        ],
        "x": 1255,
        "y": 320,
        "wires": [
            [
                "cd5fdffa1f44b54f",
                "140e8eb8b807ef24"
            ]
        ]
    },
    {
        "id": "e29c21245e1268b3",
        "type": "comment",
        "z": "6fd240d0a5125c84",
        "name": "Comprobar si existe algún usuario con cierto Id de Telegram",
        "info": "",
        "x": 340,
        "y": 760,
        "wires": []
    },
    {
        "id": "2bf2cb4571288b04",
        "type": "comment",
        "z": "6fd240d0a5125c84",
        "name": "Comprobar si existe algún usuario con cierto nombre",
        "info": "",
        "x": 310,
        "y": 940,
        "wires": []
    },
    {
        "id": "cd5fdffa1f44b54f",
        "type": "switch",
        "z": "6fd240d0a5125c84",
        "name": "¿Está su nombre en la DB?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1420,
        "y": 320,
        "wires": [
            [
                "e2131933db7418d9"
            ],
            [
                "09c55e09d85a00ef"
            ]
        ]
    },
    {
        "id": "3e3b9504b125dbfb",
        "type": "comment",
        "z": "6fd240d0a5125c84",
        "name": "No",
        "info": "",
        "x": 770,
        "y": 380,
        "wires": []
    },
    {
        "id": "0fdb0d3df1d2a9e5",
        "type": "switch",
        "z": "6fd240d0a5125c84",
        "name": "Recuperar comando",
        "property": "telegram.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/asociarUsuario",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/reservaCNC",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/reservaImpresora3D",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1040,
        "y": 700,
        "wires": [
            [
                "ce65828046276a30"
            ],
            [
                "6a6c762a82d172d3"
            ],
            [
                "6a6c762a82d172d3"
            ]
        ]
    },
    {
        "id": "23a38f46fa0fd13b",
        "type": "comment",
        "z": "6fd240d0a5125c84",
        "name": "Sí",
        "info": "",
        "x": 770,
        "y": 460,
        "wires": []
    },
    {
        "id": "e2131933db7418d9",
        "type": "chatbot-message",
        "z": "6fd240d0a5125c84",
        "name": "No estás registrad@ o error",
        "message": [
            {
                "message": "Vaya, tu nombre no figura en nuestros registros. \nSi estás registrad@ con nosotros puede que hayas introducido el nombre de manera incorrecta. Prueba otra vez usando /asociarUsuario y asegúrate de introducir el nombre tal y cómo lo hiciste al registrarte.\nSi sigues teniendo problemas, ponte en /contacto con nosotros."
            }
        ],
        "language": "none",
        "x": 1700,
        "y": 240,
        "wires": [
            [
                "994e0cd493f8df38",
                "946418c9abcb3007"
            ]
        ]
    },
    {
        "id": "a501c8326931ac38",
        "type": "comment",
        "z": "6fd240d0a5125c84",
        "name": "No",
        "info": "",
        "x": 1490,
        "y": 280,
        "wires": []
    },
    {
        "id": "9990da85023b78cc",
        "type": "mongodb out",
        "z": "6fd240d0a5125c84",
        "mongodb": "f605fa69.8f5008",
        "name": "Actualizar chatId del usuario",
        "collection": "usuarios",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "update",
        "x": 2660,
        "y": 440,
        "wires": []
    },
    {
        "id": "f46a7f61817ffe4c",
        "type": "link out",
        "z": "6fd240d0a5125c84",
        "name": "Mandar a Telegram",
        "links": [
            "e4de812328535644"
        ],
        "x": 815,
        "y": 160,
        "wires": []
    },
    {
        "id": "8760325c5f72ae18",
        "type": "link out",
        "z": "6fd240d0a5125c84",
        "name": "Mandar a Telegram",
        "links": [
            "e4de812328535644"
        ],
        "x": 1415,
        "y": 580,
        "wires": []
    },
    {
        "id": "e4de812328535644",
        "type": "link in",
        "z": "6fd240d0a5125c84",
        "name": "Telegram sender",
        "links": [
            "8760325c5f72ae18",
            "f46a7f61817ffe4c",
            "994e0cd493f8df38",
            "adb4d2673f8fd3dc"
        ],
        "x": 1015,
        "y": 80,
        "wires": [
            [
                "8e8fdf31617df255"
            ]
        ]
    },
    {
        "id": "994e0cd493f8df38",
        "type": "link out",
        "z": "6fd240d0a5125c84",
        "name": "Mandar a Telegram",
        "links": [
            "e4de812328535644"
        ],
        "x": 1865,
        "y": 240,
        "wires": []
    },
    {
        "id": "f5ac1b2708446749",
        "type": "function",
        "z": "6fd240d0a5125c84",
        "name": "preparar",
        "func": "msg.query = {\"nombre\": {\"$eq\": msg.nombre}};\nmsg.payload = { \"$set\": {\"id_telegram\": msg.telegram.chatId} };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2460,
        "y": 440,
        "wires": [
            [
                "9990da85023b78cc"
            ]
        ]
    },
    {
        "id": "ee6c8e3c51289177",
        "type": "comment",
        "z": "6fd240d0a5125c84",
        "name": "Funciona?",
        "info": "",
        "x": 2660,
        "y": 400,
        "wires": []
    },
    {
        "id": "aeb41de4ae05a13b",
        "type": "comment",
        "z": "6fd240d0a5125c84",
        "name": "Sí",
        "info": "",
        "x": 1490,
        "y": 360,
        "wires": []
    },
    {
        "id": "a82301407e10cb6f",
        "type": "chatbot-telegram-send",
        "z": "6fd240d0a5125c84",
        "bot": "3cc01e3e385d0ded",
        "botProduction": "",
        "track": true,
        "passThrough": false,
        "errorOutput": false,
        "outputs": 1,
        "x": 1710,
        "y": 720,
        "wires": [
            [
                "0bd2f925d758c8ec"
            ]
        ]
    },
    {
        "id": "bfdf8a2b6ca9f1a2",
        "type": "chatbot-message",
        "z": "6fd240d0a5125c84",
        "name": "¿Día? 3D",
        "message": [
            {
                "message": "Marchando una de impresora 3D. ¿En qué día tienes pensado imprimir? (Formato dd/mm/aaaa, por favor).\n\nSi no quieres continuar con el proceso de reserva, escribe /salir"
            }
        ],
        "language": "none",
        "x": 1500,
        "y": 720,
        "wires": [
            [
                "a82301407e10cb6f"
            ]
        ]
    },
    {
        "id": "0bd2f925d758c8ec",
        "type": "function",
        "z": "6fd240d0a5125c84",
        "name": "¿Día correcto?",
        "func": "var parts = msg.payload.content.split('/');\nvar dia = parseInt(parts[0]);\nvar mes = parseInt(parts[1]);\nvar año = parseInt(parts[2]);\nvar error = false;\n\nif (mes < 1 || mes > 12) {\n    error = true;\n}\n\nif ((mes == 4 || mes == 6 || mes == 9 || mes == 11) && dia > 30) {\n    error = true;\n}\n\nif (mes == 2 && dia > 29) {\n    error = true;\n}\n\n// Si el año no es bisiesto entonces...\nif ( !((año%4 == 0) && ((año%100 != 0) || (año%400 == 0))) ) {\n    // Si el mes es febrero y el día es mayor que 28\n    if (mes == 2 && dia > 28) {\n        error = true;\n    }\n}\n\nvar fecha = new Date(año, mes-1, dia,23,59,0);\n\nif (msg.payload.content == \"salir\") {\n    return [null, null, null];\n}\n\nif (!error && fecha !== \"Invalid Date\" && fecha >= Date.now()) {\n    msg.payload.dia = msg.payload.content;\n    msg.payload.sala = msg.sala;\n    return [ msg, null, null ];\n} else if (fecha < Date.now() && !Error && fecha !== \"Invalid Date\"){\n    msg.payload = \"Fecha introducida anterior a hoy\";\n    return [ null, msg, null ];\n} else {\n    msg.payload = \"Fecha Incorrecta\";\n    return [ null, null, msg ];\n}",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1920,
        "y": 760,
        "wires": [
            [
                "470e39cd919d192e"
            ],
            [
                "cf287068731122e6"
            ],
            [
                "239ff64ea445794d"
            ]
        ]
    },
    {
        "id": "239ff64ea445794d",
        "type": "chatbot-message",
        "z": "6fd240d0a5125c84",
        "name": "Error, formato incorrecto",
        "message": [
            {
                "message": "La fecha que has introducido no es correcta, por favor, introdúcela de nuevo pero correctamente. (Formato dd/mm/aaaa)."
            }
        ],
        "language": "none",
        "x": 1550,
        "y": 980,
        "wires": [
            [
                "a82301407e10cb6f"
            ]
        ]
    },
    {
        "id": "026697b2c8be1f26",
        "type": "comment",
        "z": "6fd240d0a5125c84",
        "name": "Petición a DB con día y sala a María",
        "info": "msg.payload.dia = \"dd/mm/aaaa\"\nmsg.payload.sala = \"3D\"",
        "x": 2100,
        "y": 700,
        "wires": []
    },
    {
        "id": "8962326f212b53b3",
        "type": "comment",
        "z": "6fd240d0a5125c84",
        "name": "Recepción de lista de reservas de María",
        "info": "",
        "x": 2260,
        "y": 900,
        "wires": []
    },
    {
        "id": "716697bde735e52e",
        "type": "chatbot-telegram-send",
        "z": "6fd240d0a5125c84",
        "bot": "3cc01e3e385d0ded",
        "botProduction": "",
        "track": true,
        "passThrough": false,
        "errorOutput": false,
        "outputs": 1,
        "x": 1890,
        "y": 400,
        "wires": [
            [
                "eec7c916e9281670"
            ]
        ]
    },
    {
        "id": "09c55e09d85a00ef",
        "type": "chatbot-message",
        "z": "6fd240d0a5125c84",
        "name": "Pedir contraseña",
        "message": [
            {
                "message": "Genial, te he encontrado en la base de datos. Ahora sólo necesito que me escribas la contraseña que dijiste al registrarte."
            }
        ],
        "language": "none",
        "x": 1670,
        "y": 400,
        "wires": [
            [
                "716697bde735e52e"
            ]
        ]
    },
    {
        "id": "e7497af3fce95bb6",
        "type": "mongodb in",
        "z": "6fd240d0a5125c84",
        "mongodb": "f605fa69.8f5008",
        "name": "Comprobar contraseña en DB",
        "collection": "usuarios",
        "operation": "aggregate",
        "x": 470,
        "y": 1140,
        "wires": [
            [
                "e9c22767b8299838"
            ]
        ]
    },
    {
        "id": "af71cef3ba7c6750",
        "type": "function",
        "z": "6fd240d0a5125c84",
        "name": "Comprobar contraseña",
        "func": "if (msg.payload.content != \"/salir\") {\n    msg.payload = [{ \"$match\": {\"nombre\": msg.nombre, \"password\": msg.contraseña}}];\n    msg.contraseña = msg.payload.content;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 1140,
        "wires": [
            [
                "e7497af3fce95bb6"
            ]
        ]
    },
    {
        "id": "b5ec37403692af5a",
        "type": "link in",
        "z": "6fd240d0a5125c84",
        "name": "",
        "links": [
            "eec7c916e9281670"
        ],
        "x": 75,
        "y": 1140,
        "wires": [
            [
                "af71cef3ba7c6750"
            ]
        ]
    },
    {
        "id": "eec7c916e9281670",
        "type": "link out",
        "z": "6fd240d0a5125c84",
        "name": "",
        "links": [
            "b5ec37403692af5a"
        ],
        "x": 2015,
        "y": 400,
        "wires": []
    },
    {
        "id": "e9c22767b8299838",
        "type": "link out",
        "z": "6fd240d0a5125c84",
        "name": "",
        "links": [
            "cf2cde2bd529576b"
        ],
        "x": 635,
        "y": 1140,
        "wires": []
    },
    {
        "id": "cf2cde2bd529576b",
        "type": "link in",
        "z": "6fd240d0a5125c84",
        "name": "",
        "links": [
            "e9c22767b8299838"
        ],
        "x": 2055,
        "y": 400,
        "wires": [
            [
                "b19d16957235fc13"
            ]
        ]
    },
    {
        "id": "3b41ba0d1251cb77",
        "type": "comment",
        "z": "6fd240d0a5125c84",
        "name": "PROBAR",
        "info": "",
        "x": 480,
        "y": 1180,
        "wires": []
    },
    {
        "id": "b19d16957235fc13",
        "type": "switch",
        "z": "6fd240d0a5125c84",
        "name": "¿Es la contraseña correcta?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2220,
        "y": 400,
        "wires": [
            [
                "3d3b83d9644e210b"
            ],
            [
                "f5ac1b2708446749"
            ]
        ]
    },
    {
        "id": "3d3b83d9644e210b",
        "type": "chatbot-message",
        "z": "6fd240d0a5125c84",
        "name": "Contraseña incorrecta",
        "message": [
            {
                "message": "Vaya. La contraseña no es correcta. \nPrueba otra vez usando /asociarUsuario y asegúrate de introducir la contraseña tal y cómo lo hiciste al registrarte.\nSi sigues teniendo problemas, ponte en /contacto con nosotros."
            }
        ],
        "language": "none",
        "x": 2480,
        "y": 320,
        "wires": [
            [
                "adb4d2673f8fd3dc"
            ]
        ]
    },
    {
        "id": "b8c7b0953549aabd",
        "type": "comment",
        "z": "6fd240d0a5125c84",
        "name": "No",
        "info": "",
        "x": 2290,
        "y": 360,
        "wires": []
    },
    {
        "id": "adb4d2673f8fd3dc",
        "type": "link out",
        "z": "6fd240d0a5125c84",
        "name": "Mandar a Telegram",
        "links": [
            "e4de812328535644"
        ],
        "x": 2615,
        "y": 320,
        "wires": []
    },
    {
        "id": "cbd227f20390c4d3",
        "type": "comment",
        "z": "6fd240d0a5125c84",
        "name": "Mostrar horas reservadas en el día + pedir horas",
        "info": "",
        "x": 2560,
        "y": 640,
        "wires": []
    },
    {
        "id": "f7b55e6f11b51dae",
        "type": "comment",
        "z": "6fd240d0a5125c84",
        "name": "Guardar reserva",
        "info": "",
        "x": 3880,
        "y": 620,
        "wires": []
    },
    {
        "id": "ce93f1d23cd0d9df",
        "type": "function",
        "z": "6fd240d0a5125c84",
        "name": "¿Horas correctas?",
        "func": "// Parsear horas de la nueva reserva. Formato: \"De 12 a 17\"\nvar horasReserva = msg.payload.content;\nlet pattern = /w3schools/i;\n\nvar hora_apertura;\nvar hora_cierre;\nvar inicio_nueva_reserva;\nvar fin_nueva_reserva;\nvar error = false;\n// Comprobar que la hora de inicio es anterior a la hora de fin\nif (inicio_nueva_reserva >= fin_nueva_reserva) {\n    error = true;\n} else {\n    // Comprobar que las horas están dentro del horario de Skapalab puedes imprimir con Skapalab cerrao?\n    if (inicio_nueva_reserva < hora_apertura || inicio_nueva_reserva > hora_cierre) {\n        error = true;\n    } else {\n        // Comprobar que las horas no se solapan con otra reserva\n        for (const i of msg.payload) {\n            if (msg.payload[i].hora_inicio >= inicio_nueva_reserva && msg.payload[i].hora_inicio < fin_nueva_reserva) {\n                error = true;\n                break;\n            }\n            if (msg.payload[i].hora_fin > inicio_nueva_reserva && msg.payload[i].hora_fin <= fin_nueva_reserva) {\n                error = true;\n                break;\n            }\n        }\n    }\n}\n\nif (!error) {\n    return [ msg, null ];\n} else {\n    return [ null, msg ];\n}\n\nreturn msg;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3510,
        "y": 680,
        "wires": [
            [
                "84477599338ab290"
            ],
            [
                "1689fac7be87a2ae"
            ]
        ]
    },
    {
        "id": "1689fac7be87a2ae",
        "type": "function",
        "z": "6fd240d0a5125c84",
        "name": "Mostrar horas reservadas y preguntar horas a resevar",
        "func": "var hora_apertura;\nvar hora_cierre;\n\nif (msg.horasIncorrectas) {\n    msg.payload.content = \"Las horas que has introducido para la reserva son incorrectas. Venga, intentémoslo de nuevo.\\n\\n\"\n} else {\n    msg.payload.content = \"\";\n}\n\nmsg.payload.content += \"Estas son las horas ya reservadas (las que están entre paréntesis):\\n\\n\";\n\n// msg.reservas es un array de objetos con .hora_inicio y .hora_fin\n\n// Creo un array de 25 posiciones que me indicarán que horas tienen qué paréntesis.\n// Inicialmente pongo todas las horas a 0. \nvar horas;\nfor (let i = 0; i <= 24; i++) {\n    horas[i] = 0;\n}\n\n// Itero a través de las reservas para encontrar coincidencias.\n// Si una hora tiene un paréntesis a su izquierda tendrá un 1.\n// Si una hora tiene un paréntesis a su derecha tendrá un 2.\n// Si una hora tiene paréntesis a ambos lados tendrá un 3.\nfor (let i of msg.reservas) {\n    horas[msg.reservas[i].hora_inicio] += 1;\n    horas[msg.reservas[i].hora_fin] += 2;\n}\n\n// Imprimimos todas las horas con sus respectivos paréntesis\nfor (let j = hora_apertura; j < hora_cierre; j++) {\n    \n    switch(horas[j]) {\n        case 0:\n            msg.payload.content += j + \"  \";\n            break;\n        case 1:\n            msg.payload.content += \"(\" + j + \"  \";\n            break;\n        case 2:\n            msg.payload.content += j + \") \";\n            break;\n        case 3:\n            msg.payload.content += \"(\" + j + \") \";\n            break;\n        default:\n            msg.payload.content += \"error\";\n    }\n    \n    if (j == Math.ceil((hora_apertura + hora_cierre)/2)) {\n        msg.payload.content += \"\\n\";\n    }\n}\n\nmsg.payload.content += \"\\n\\n¿De qué hora a qué hora te gustaría reservar? (Formato ejemplo: \\\"De 14 a 17\\\")\";\n\nmsg.payload.content += \"\\n\\n[ Aclaración: el ejemplo dado sería un tramo horario de 3 horas comenzando a las 14 ]\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3000,
        "y": 760,
        "wires": [
            [
                "c02da7614fa8dade"
            ]
        ]
    },
    {
        "id": "c02da7614fa8dade",
        "type": "chatbot-telegram-send",
        "z": "6fd240d0a5125c84",
        "bot": "3cc01e3e385d0ded",
        "botProduction": "",
        "track": true,
        "passThrough": false,
        "errorOutput": false,
        "outputs": 1,
        "x": 3330,
        "y": 760,
        "wires": [
            [
                "ce93f1d23cd0d9df"
            ]
        ]
    },
    {
        "id": "7e28462080f54b8e",
        "type": "comment",
        "z": "6fd240d0a5125c84",
        "name": "Comprobar si existe algún usuario con ese nombre y contraseña",
        "info": "",
        "x": 350,
        "y": 1100,
        "wires": []
    },
    {
        "id": "cf287068731122e6",
        "type": "chatbot-message",
        "z": "6fd240d0a5125c84",
        "name": "Error, día introducido anterior a hoy",
        "message": [
            {
                "message": "La fecha que has introducido es anterior al día de hoy. Por favor, introduce el día de hoy o una fecha posterior. (Formato dd/mm/aaaa)."
            }
        ],
        "language": "none",
        "x": 1580,
        "y": 860,
        "wires": [
            [
                "a82301407e10cb6f"
            ]
        ]
    },
    {
        "id": "470e39cd919d192e",
        "type": "link out",
        "z": "6fd240d0a5125c84",
        "name": "",
        "links": [
            "27be31c689baea40"
        ],
        "x": 2115,
        "y": 760,
        "wires": []
    },
    {
        "id": "3209c4dbf05450c4",
        "type": "link in",
        "z": "6fd240d0a5125c84",
        "name": "",
        "links": [
            "66988095b2f77c76"
        ],
        "x": 2255,
        "y": 760,
        "wires": [
            [
                "0933113de3dcc7d0"
            ]
        ]
    },
    {
        "id": "ce65828046276a30",
        "type": "chatbot-message",
        "z": "6fd240d0a5125c84",
        "name": "Usuario ya asociado",
        "message": [
            {
                "message": "Enhorabuena! Ya te encuentras en nuestra exclusiva lista de usuarios asociados.\n\n(Si al leer este mensaje te das cuenta de que en ningún momento has introducido la contraseña que creaste al registrarte, es posible que sea porque ha habido algún error. Por favor ponte en /contacto con nosotros)"
            }
        ],
        "language": "none",
        "x": 1270,
        "y": 580,
        "wires": [
            [
                "8760325c5f72ae18"
            ]
        ]
    },
    {
        "id": "6a6c762a82d172d3",
        "type": "function",
        "z": "6fd240d0a5125c84",
        "name": "Asignar sala",
        "func": "if (msg.telegram.content == \"/reservaCNC\") {\n    msg.sala = \"CNC\";\n    return [ msg, null ];\n} else {\n    msg.sala = \"3D\";\n    return [ null, msg ];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 720,
        "wires": [
            [
                "a75cda36a02ab456"
            ],
            [
                "bfdf8a2b6ca9f1a2"
            ]
        ]
    },
    {
        "id": "7caca735683fd1c9",
        "type": "chatbot-message",
        "z": "6fd240d0a5125c84",
        "name": "Nuevo mensaje",
        "message": [
            {
                "message": "Cosa"
            }
        ],
        "language": "none",
        "x": 2660,
        "y": 760,
        "wires": [
            [
                "1689fac7be87a2ae"
            ]
        ]
    },
    {
        "id": "140e8eb8b807ef24",
        "type": "debug",
        "z": "6fd240d0a5125c84",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 260,
        "wires": []
    },
    {
        "id": "946418c9abcb3007",
        "type": "debug",
        "z": "6fd240d0a5125c84",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1900,
        "y": 160,
        "wires": []
    },
    {
        "id": "18db231071e15336",
        "type": "debug",
        "z": "6fd240d0a5125c84",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 200,
        "wires": []
    },
    {
        "id": "0933113de3dcc7d0",
        "type": "function",
        "z": "6fd240d0a5125c84",
        "name": "Recuperar msgAntiguo + guardar reservas",
        "func": "var reservas = msg.payload;\nmsg = msg.msgAntiguo;\nmsg.reservas = reservas;\nmsg.horasIncorrectas = false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2370,
        "y": 840,
        "wires": [
            [
                "7caca735683fd1c9"
            ]
        ]
    },
    {
        "id": "1f66d90a7f05b086",
        "type": "comment",
        "z": "6fd240d0a5125c84",
        "name": "Definir horas de apertura y cierre como globales",
        "info": "",
        "x": 3560,
        "y": 620,
        "wires": []
    },
    {
        "id": "f495de56c1b8a46d",
        "type": "comment",
        "z": "6fd240d0a5125c84",
        "name": "Imprimir durante la noche no es posible",
        "info": "Para guardar reservas de la impresiones nocturnas, las hora de inicio y fin tienen que tener una fecha asociadas y es tremendo follón a estas alturas.",
        "x": 3530,
        "y": 580,
        "wires": []
    },
    {
        "id": "791c0707f2ecf029",
        "type": "comment",
        "z": "6fd240d0a5125c84",
        "name": "Conseguir variables globales",
        "info": "var hora_apertura = global.get(\"hora_apertura\");\nvar hora_cierre = global.get(\"hora_cierre\");\n",
        "x": 2940,
        "y": 540,
        "wires": []
    },
    {
        "id": "a75cda36a02ab456",
        "type": "chatbot-message",
        "z": "6fd240d0a5125c84",
        "name": "¿Día? CNC",
        "message": [
            {
                "message": "Marchando una de CNC. ¿En qué día tienes pensado usar la máquina? (Formato dd/mm/aaaa, por favor).\n\nSi no quieres continuar con el proceso de reserva, escribe /salir"
            }
        ],
        "language": "none",
        "x": 1490,
        "y": 660,
        "wires": [
            [
                "a82301407e10cb6f"
            ]
        ]
    },
    {
        "id": "84477599338ab290",
        "type": "debug",
        "z": "6fd240d0a5125c84",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3830,
        "y": 680,
        "wires": []
    },
    {
        "id": "3cc01e3e385d0ded",
        "type": "chatbot-telegram-node",
        "botname": "SkapaLaBot",
        "usernames": "",
        "token": "5084907312:AAFDpRGPmrdDihcbN7ZjePncQ779rPZBYWc",
        "providerToken": "",
        "polling": "1",
        "store": "",
        "log": "",
        "debug": false,
        "webHook": "",
        "connectMode": "polling"
    },
    {
        "id": "f605fa69.8f5008",
        "type": "mongodb",
        "hostname": "iot.ac.uma.es",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "II8",
        "name": ""
    }
]