Proyecto Slapakab/Telegram/flowTelegram.json
[
    {
        "id": "f3e96f594243addc",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5ae724eef7f141f4",
        "type": "chatbot-telegram-send",
        "z": "f3e96f594243addc",
        "bot": "3cc01e3e385d0ded",
        "botProduction": "",
        "track": false,
        "passThrough": false,
        "errorOutput": false,
        "outputs": 0,
        "x": 1150,
        "y": 80,
        "wires": []
    },
    {
        "id": "909feb66f01f25c9",
        "type": "chatbot-telegram-receive",
        "z": "f3e96f594243addc",
        "bot": "3cc01e3e385d0ded",
        "botProduction": "",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "93e2d1288c0e048c",
                "07312d0c061f87b0"
            ]
        ]
    },
    {
        "id": "93e2d1288c0e048c",
        "type": "chatbot-rules",
        "z": "f3e96f594243addc",
        "name": "comandos públicos",
        "rules": [
            {
                "type": "notMessageType",
                "messageType": "command"
            },
            {
                "type": "command",
                "command": "/start"
            },
            {
                "type": "command",
                "command": "/contacto"
            },
            {
                "type": "command",
                "command": "/preguntasFrecuentes"
            },
            {
                "type": "command",
                "command": "/asociarUsuario"
            }
        ],
        "outputs": 5,
        "x": 330,
        "y": 180,
        "wires": [
            [
                "a05254dd89e51a58"
            ],
            [
                "519840d5b0c9a9ee"
            ],
            [
                "de40d3c80fdef3dc"
            ],
            [
                "fb465ce77f402fc8"
            ],
            [
                "59864c6b5717c418"
            ]
        ]
    },
    {
        "id": "519840d5b0c9a9ee",
        "type": "chatbot-message",
        "z": "f3e96f594243addc",
        "name": "Bienvenida",
        "message": [
            {
                "message": "Hola, soy el bot de SkapaLab.\nPuedes comunicarte conmigo usando los siguientes comandos:\nComandos públicos\n/start\n/contacto\n/preguntasFrecuentes\n/asociarUsuario\nComandos para usuarios registrados:\n/outfitIdir\n/aforo\n/reservaCNC\n/reservaImpresora3D\nPara una explicación sobre cada comando puedes usar /ayuda."
            }
        ],
        "language": "none",
        "x": 590,
        "y": 140,
        "wires": [
            [
                "bc5ff0bb4b4278ba"
            ]
        ]
    },
    {
        "id": "de40d3c80fdef3dc",
        "type": "chatbot-message",
        "z": "f3e96f594243addc",
        "name": "Contacto",
        "message": [
            {
                "message": "Datos de contacto:\n- Teléfono Skapalab: 98734534\n- Ubicación Skapalab: pimpum\n- Telegram de Idir: link a su telegram?\n- no sé si más cosas"
            }
        ],
        "language": "none",
        "x": 580,
        "y": 200,
        "wires": [
            [
                "bc5ff0bb4b4278ba"
            ]
        ]
    },
    {
        "id": "a05254dd89e51a58",
        "type": "chatbot-message",
        "z": "f3e96f594243addc",
        "name": "No entiendo humano",
        "message": [
            {
                "message": "Por desgracia mi inteligencia no llega a tanto. Por favor usa comandos para comunicarte conmigo a no ser que te pida otra cosa. \n\nPara un resumen de los comandos puedes usar /start. Para una explicación sobre cada comando disponible puedes usar /ayuda."
            }
        ],
        "language": "none",
        "x": 620,
        "y": 80,
        "wires": [
            [
                "bc5ff0bb4b4278ba"
            ]
        ]
    },
    {
        "id": "aafbab700fb840b6",
        "type": "chatbot-message",
        "z": "f3e96f594243addc",
        "name": "Preguntas frecuentes",
        "message": [
            {
                "message": "- ¿Es el acceso a SkapaLab gratuito?\n+ No\n\n- ¿Qué máquinas hay disponibles?\n+ Cositas\n\n- etc"
            }
        ],
        "language": "none",
        "x": 620,
        "y": 260,
        "wires": [
            [
                "bc5ff0bb4b4278ba"
            ]
        ]
    },
    {
        "id": "07312d0c061f87b0",
        "type": "chatbot-rules",
        "z": "f3e96f594243addc",
        "name": "comandos de usuario",
        "rules": [
            {
                "type": "command",
                "command": "/aforo"
            },
            {
                "type": "command",
                "command": "/reservaCNC"
            },
            {
                "type": "command",
                "command": "/reservaImpresora3D"
            },
            {
                "type": "command",
                "command": "/outfitIdir"
            }
        ],
        "outputs": 4,
        "x": 340,
        "y": 420,
        "wires": [
            [
                "59864c6b5717c418"
            ],
            [
                "59864c6b5717c418"
            ],
            [
                "59864c6b5717c418"
            ],
            [
                "59864c6b5717c418"
            ]
        ]
    },
    {
        "id": "59864c6b5717c418",
        "type": "link out",
        "z": "f3e96f594243addc",
        "name": "verificación de usuario",
        "links": [
            "96223fe7725dc4f4"
        ],
        "x": 495,
        "y": 420,
        "wires": []
    },
    {
        "id": "5c90bc0b322d901d",
        "type": "mongodb in",
        "z": "f3e96f594243addc",
        "mongodb": "f605fa69.8f5008",
        "name": "Comprobar usuario por chatId en DB",
        "collection": "usuarios",
        "operation": "count",
        "x": 450,
        "y": 820,
        "wires": [
            [
                "60900fac85766cf8"
            ]
        ]
    },
    {
        "id": "43f9e8078572e92d",
        "type": "function",
        "z": "f3e96f594243addc",
        "name": "Extraer chatId",
        "func": "msg.telegram = msg.payload;\nmsg.payload = {\"id_telegram\": {\"$eq\": msg.payload.chatId}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 820,
        "wires": [
            [
                "5c90bc0b322d901d"
            ]
        ]
    },
    {
        "id": "96223fe7725dc4f4",
        "type": "link in",
        "z": "f3e96f594243addc",
        "name": "",
        "links": [
            "59864c6b5717c418"
        ],
        "x": 75,
        "y": 820,
        "wires": [
            [
                "43f9e8078572e92d"
            ]
        ]
    },
    {
        "id": "60900fac85766cf8",
        "type": "link out",
        "z": "f3e96f594243addc",
        "name": "",
        "links": [
            "1572f12c91bcdf83"
        ],
        "x": 635,
        "y": 820,
        "wires": []
    },
    {
        "id": "1572f12c91bcdf83",
        "type": "link in",
        "z": "f3e96f594243addc",
        "name": "",
        "links": [
            "60900fac85766cf8"
        ],
        "x": 545,
        "y": 420,
        "wires": [
            [
                "18300c5ebedb58bf"
            ]
        ]
    },
    {
        "id": "18300c5ebedb58bf",
        "type": "switch",
        "z": "f3e96f594243addc",
        "name": "¿Está este Id de Telegram registrado?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 730,
        "y": 420,
        "wires": [
            [
                "adeacc6619e3dafa"
            ],
            [
                "dfee45b180a2a5d0"
            ]
        ]
    },
    {
        "id": "97e956de3738325b",
        "type": "chatbot-telegram-send",
        "z": "f3e96f594243addc",
        "bot": "3cc01e3e385d0ded",
        "botProduction": "",
        "track": true,
        "passThrough": false,
        "errorOutput": false,
        "outputs": 1,
        "x": 1090,
        "y": 320,
        "wires": [
            [
                "e46084f7e4fb11aa"
            ]
        ]
    },
    {
        "id": "adeacc6619e3dafa",
        "type": "chatbot-message",
        "z": "f3e96f594243addc",
        "name": "Preguntar nombre",
        "message": [
            {
                "message": "No pareces estar en la base de datos. ¿Cómo te llamas?"
            }
        ],
        "language": "none",
        "x": 870,
        "y": 320,
        "wires": [
            [
                "97e956de3738325b"
            ]
        ]
    },
    {
        "id": "83915e9a576031e8",
        "type": "mongodb in",
        "z": "f3e96f594243addc",
        "mongodb": "f605fa69.8f5008",
        "name": "Comprobar usuario por nombre en DB",
        "collection": "usuarios",
        "operation": "count",
        "x": 450,
        "y": 1000,
        "wires": [
            [
                "e389a45a91bfeed2"
            ]
        ]
    },
    {
        "id": "c80ff8e1bfe3489c",
        "type": "function",
        "z": "f3e96f594243addc",
        "name": "Extraer nombre",
        "func": "if (msg.payload.content != \"salir\") {\n    msg.payload = {\"nombre\": {\"$eq\": msg.payload.content}};\n    msg.nombre = msg.payload.content;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 1000,
        "wires": [
            [
                "83915e9a576031e8"
            ]
        ]
    },
    {
        "id": "8023094eeefdd03a",
        "type": "link in",
        "z": "f3e96f594243addc",
        "name": "",
        "links": [
            "e46084f7e4fb11aa"
        ],
        "x": 75,
        "y": 1000,
        "wires": [
            [
                "c80ff8e1bfe3489c"
            ]
        ]
    },
    {
        "id": "e389a45a91bfeed2",
        "type": "link out",
        "z": "f3e96f594243addc",
        "name": "",
        "links": [
            "72db5925a8acd9de"
        ],
        "x": 635,
        "y": 1000,
        "wires": []
    },
    {
        "id": "e46084f7e4fb11aa",
        "type": "link out",
        "z": "f3e96f594243addc",
        "name": "",
        "links": [
            "8023094eeefdd03a"
        ],
        "x": 1215,
        "y": 320,
        "wires": []
    },
    {
        "id": "72db5925a8acd9de",
        "type": "link in",
        "z": "f3e96f594243addc",
        "name": "",
        "links": [
            "e389a45a91bfeed2"
        ],
        "x": 1255,
        "y": 320,
        "wires": [
            [
                "0a7b07d437f84475"
            ]
        ]
    },
    {
        "id": "c5ec51ce8b76fbbd",
        "type": "comment",
        "z": "f3e96f594243addc",
        "name": "Comprobar si existe algún usuario con cierto Id de Telegram",
        "info": "",
        "x": 340,
        "y": 760,
        "wires": []
    },
    {
        "id": "87305c41a6221085",
        "type": "comment",
        "z": "f3e96f594243addc",
        "name": "Comprobar si existe algún usuario con cierto nombre",
        "info": "",
        "x": 310,
        "y": 940,
        "wires": []
    },
    {
        "id": "0a7b07d437f84475",
        "type": "switch",
        "z": "f3e96f594243addc",
        "name": "¿Está su nombre en la DB?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1420,
        "y": 320,
        "wires": [
            [
                "aae4242f244024c3"
            ],
            [
                "22f517ea030ae6fe"
            ]
        ]
    },
    {
        "id": "277add5c8375ed19",
        "type": "comment",
        "z": "f3e96f594243addc",
        "name": "No",
        "info": "",
        "x": 770,
        "y": 380,
        "wires": []
    },
    {
        "id": "dfee45b180a2a5d0",
        "type": "switch",
        "z": "f3e96f594243addc",
        "name": "Recuperar comando",
        "property": "telegram.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/asociarUsuario",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/reservaCNC",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/reservaImpresora3D",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1040,
        "y": 700,
        "wires": [
            [],
            [],
            [
                "fb465ce77f402fc8"
            ]
        ]
    },
    {
        "id": "5b6408dc436db296",
        "type": "comment",
        "z": "f3e96f594243addc",
        "name": "Sí",
        "info": "",
        "x": 770,
        "y": 460,
        "wires": []
    },
    {
        "id": "aae4242f244024c3",
        "type": "chatbot-message",
        "z": "f3e96f594243addc",
        "name": "No estás registrad@ o error",
        "message": [
            {
                "message": "Vaya. Tu nombre no figura en nuestros registros. \nSi estás registrad@ con nosotros puede que hayas introducido el nombre de manera incorrecta. Prueba otra vez usando /asociarUsuario y asegúrate de introducir el nombre tal y cómo lo hiciste al registrarte.\nSi sigues teniendo problemas, ponte en /contacto con nosotros."
            }
        ],
        "language": "none",
        "x": 1700,
        "y": 240,
        "wires": [
            [
                "cb053219e866e76a"
            ]
        ]
    },
    {
        "id": "d1e11da870568737",
        "type": "comment",
        "z": "f3e96f594243addc",
        "name": "No",
        "info": "",
        "x": 1490,
        "y": 280,
        "wires": []
    },
    {
        "id": "c43c5c65dddd98d1",
        "type": "mongodb out",
        "z": "f3e96f594243addc",
        "mongodb": "f605fa69.8f5008",
        "name": "Actualizar chatId del usuario",
        "collection": "usuarios",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "update",
        "x": 2660,
        "y": 440,
        "wires": []
    },
    {
        "id": "bc5ff0bb4b4278ba",
        "type": "link out",
        "z": "f3e96f594243addc",
        "name": "Mandar a Telegram",
        "links": [
            "2e2ef2455389223b"
        ],
        "x": 815,
        "y": 160,
        "wires": []
    },
    {
        "id": "64e9460e4df2dfa7",
        "type": "link out",
        "z": "f3e96f594243addc",
        "name": "Mandar a Telegram",
        "links": [
            "2e2ef2455389223b"
        ],
        "x": 1355,
        "y": 480,
        "wires": []
    },
    {
        "id": "2e2ef2455389223b",
        "type": "link in",
        "z": "f3e96f594243addc",
        "name": "Telegram sender",
        "links": [
            "64e9460e4df2dfa7",
            "bc5ff0bb4b4278ba",
            "cb053219e866e76a",
            "56167c4c4bb3f129"
        ],
        "x": 1015,
        "y": 80,
        "wires": [
            [
                "5ae724eef7f141f4"
            ]
        ]
    },
    {
        "id": "cb053219e866e76a",
        "type": "link out",
        "z": "f3e96f594243addc",
        "name": "Mandar a Telegram",
        "links": [
            "2e2ef2455389223b"
        ],
        "x": 1865,
        "y": 240,
        "wires": []
    },
    {
        "id": "61e7ed4254c1d73b",
        "type": "function",
        "z": "f3e96f594243addc",
        "name": "preparar",
        "func": "msg.query = {\"id_telegram\": {\"$eq\": msg.nombre}};\nmsg.payload = { \"$set\": {\"id_telegram\": msg.telegram.chatId} };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2460,
        "y": 440,
        "wires": [
            [
                "c43c5c65dddd98d1"
            ]
        ]
    },
    {
        "id": "86bb486ea7386aa1",
        "type": "comment",
        "z": "f3e96f594243addc",
        "name": "Funciona?",
        "info": "",
        "x": 2660,
        "y": 400,
        "wires": []
    },
    {
        "id": "bc9337c6fb6a5f75",
        "type": "comment",
        "z": "f3e96f594243addc",
        "name": "Sí",
        "info": "",
        "x": 1490,
        "y": 360,
        "wires": []
    },
    {
        "id": "59a3487e1c1835e3",
        "type": "chatbot-telegram-send",
        "z": "f3e96f594243addc",
        "bot": "3cc01e3e385d0ded",
        "botProduction": "",
        "track": true,
        "passThrough": false,
        "errorOutput": false,
        "outputs": 1,
        "x": 1510,
        "y": 720,
        "wires": [
            [
                "577b284ffab89dca"
            ]
        ]
    },
    {
        "id": "fb465ce77f402fc8",
        "type": "chatbot-message",
        "z": "f3e96f594243addc",
        "name": "¿Día?",
        "message": [
            {
                "message": "Marchando una de impresora 3D. ¿En qué día tienes pensado imprimir? (Formato dd/mm/aaaa, por favor)."
            }
        ],
        "language": "none",
        "x": 1330,
        "y": 720,
        "wires": [
            [
                "59a3487e1c1835e3"
            ]
        ]
    },
    {
        "id": "577b284ffab89dca",
        "type": "function",
        "z": "f3e96f594243addc",
        "name": "¿Formato correcto?",
        "func": "var parts = msg.payload.content.split('/');\nvar dia = parseInt(parts[0]);\nvar mes = parseInt(parts[1]);\nvar año = parseInt(parts[2]);\nvar error = false;\n\nif (mes < 1 || mes > 12) {\n    error = true;\n}\n\nif ((mes == 4 || mes == 6 || mes == 9 || mes == 11) && dia > 30) {\n    error = true;\n}\nif (mes == 2 || dia > 28) {\n    error = true;\n}\n\nvar fecha = new Date(año, mes-1, dia,23,59,0);\n\nif (msg.payload.content == \"salir\") {\n    return [null, null, null];\n}\n\nif (!error && fecha !== \"Invalid Date\" && fecha >= Date.now()) {\n    msg.payload.dia = msg.payload.content;\n    msg.payload.sala = \"3D\";\n    return [ msg, null, null ];\n} else if (fecha < Date.now()){\n    msg.payload = \"Fecha introducida anterior a hoy\";\n    return [ null, msg, null ];\n} else {\n    msg.payload = \"Fecha Incorrecta\";\n    return [ null, null, msg ];\n}",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1730,
        "y": 760,
        "wires": [
            [
                "99e352af81bde24b"
            ],
            [
                "676c91b0b59a4a89"
            ],
            [
                "0cb1ecb3346b2d76"
            ]
        ]
    },
    {
        "id": "0cb1ecb3346b2d76",
        "type": "chatbot-message",
        "z": "f3e96f594243addc",
        "name": "Error, formato incorrecto",
        "message": [
            {
                "message": "La fecha que has introducido no es correcta, por favor, introdúcela de nuevo pero correctamente. (Formato dd/mm/aaaa)."
            }
        ],
        "language": "none",
        "x": 1350,
        "y": 980,
        "wires": [
            [
                "59a3487e1c1835e3"
            ]
        ]
    },
    {
        "id": "7770a75c81a404bd",
        "type": "comment",
        "z": "f3e96f594243addc",
        "name": "Petición a DB con día y sala a María",
        "info": "msg.payload.dia = \"dd/mm/aaaa\"\nmsg.payload.sala = \"3D\"",
        "x": 1900,
        "y": 700,
        "wires": []
    },
    {
        "id": "a09f190543e1856a",
        "type": "comment",
        "z": "f3e96f594243addc",
        "name": "Recepción de lista de reservas de María",
        "info": "",
        "x": 2060,
        "y": 820,
        "wires": []
    },
    {
        "id": "bbdecb6f618c690e",
        "type": "chatbot-telegram-send",
        "z": "f3e96f594243addc",
        "bot": "3cc01e3e385d0ded",
        "botProduction": "",
        "track": true,
        "passThrough": false,
        "errorOutput": false,
        "outputs": 1,
        "x": 1890,
        "y": 400,
        "wires": [
            [
                "54292ed9ce7b9bce"
            ]
        ]
    },
    {
        "id": "22f517ea030ae6fe",
        "type": "chatbot-message",
        "z": "f3e96f594243addc",
        "name": "Pedir contraseña",
        "message": [
            {
                "message": "Genial, te he encontrado en la base de datos. Ahora sólo necesito que me escribas la contraseña que dijiste al registrarte."
            }
        ],
        "language": "none",
        "x": 1670,
        "y": 400,
        "wires": [
            [
                "bbdecb6f618c690e"
            ]
        ]
    },
    {
        "id": "192a4afb9e9781a2",
        "type": "mongodb in",
        "z": "f3e96f594243addc",
        "mongodb": "f605fa69.8f5008",
        "name": "Comprobar contraseña en DB",
        "collection": "usuarios",
        "operation": "count",
        "x": 470,
        "y": 1140,
        "wires": [
            [
                "0b0e320d2125d989"
            ]
        ]
    },
    {
        "id": "b8e2aafc85f20089",
        "type": "function",
        "z": "f3e96f594243addc",
        "name": "Comprobar contraseña",
        "func": "if (msg.payload.content != \"salir\") {\n    msg.payload = { \"$match\": {\"nombre\": {\"$eq\": { \"password\": msg.payload.content }}}};\n    msg.contraseña = msg.payload.content;\n    return msg;\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 1140,
        "wires": [
            [
                "192a4afb9e9781a2"
            ],
            []
        ]
    },
    {
        "id": "5ea893ef8b02a6bc",
        "type": "link in",
        "z": "f3e96f594243addc",
        "name": "",
        "links": [
            "54292ed9ce7b9bce"
        ],
        "x": 75,
        "y": 1140,
        "wires": [
            [
                "b8e2aafc85f20089"
            ]
        ]
    },
    {
        "id": "54292ed9ce7b9bce",
        "type": "link out",
        "z": "f3e96f594243addc",
        "name": "",
        "links": [
            "5ea893ef8b02a6bc"
        ],
        "x": 2015,
        "y": 400,
        "wires": []
    },
    {
        "id": "0b0e320d2125d989",
        "type": "link out",
        "z": "f3e96f594243addc",
        "name": "",
        "links": [
            "ffa0945999b85ffb"
        ],
        "x": 635,
        "y": 1140,
        "wires": []
    },
    {
        "id": "ffa0945999b85ffb",
        "type": "link in",
        "z": "f3e96f594243addc",
        "name": "",
        "links": [
            "0b0e320d2125d989"
        ],
        "x": 2055,
        "y": 400,
        "wires": [
            [
                "7dcf6b2e87a35db2"
            ]
        ]
    },
    {
        "id": "4fd671e793c996bb",
        "type": "comment",
        "z": "f3e96f594243addc",
        "name": "PROBAR",
        "info": "",
        "x": 480,
        "y": 1180,
        "wires": []
    },
    {
        "id": "7dcf6b2e87a35db2",
        "type": "switch",
        "z": "f3e96f594243addc",
        "name": "¿Es la contraseña correcta?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2220,
        "y": 400,
        "wires": [
            [
                "afca105ef19bef93"
            ],
            [
                "61e7ed4254c1d73b"
            ]
        ]
    },
    {
        "id": "afca105ef19bef93",
        "type": "chatbot-message",
        "z": "f3e96f594243addc",
        "name": "Contraseña incorrecta",
        "message": [
            {
                "message": "Vaya. La contraseña no es correcta. \nPrueba otra vez usando /asociarUsuario y asegúrate de introducir la contraseña tal y cómo lo hiciste al registrarte.\nSi sigues teniendo problemas, ponte en /contacto con nosotros."
            }
        ],
        "language": "none",
        "x": 2480,
        "y": 320,
        "wires": [
            [
                "56167c4c4bb3f129"
            ]
        ]
    },
    {
        "id": "95cb24f0cae04a57",
        "type": "comment",
        "z": "f3e96f594243addc",
        "name": "No",
        "info": "",
        "x": 2290,
        "y": 360,
        "wires": []
    },
    {
        "id": "56167c4c4bb3f129",
        "type": "link out",
        "z": "f3e96f594243addc",
        "name": "Mandar a Telegram",
        "links": [
            "2e2ef2455389223b"
        ],
        "x": 2615,
        "y": 320,
        "wires": []
    },
    {
        "id": "0929ea72c76c1899",
        "type": "comment",
        "z": "f3e96f594243addc",
        "name": "Mostrar horas reservadas en el día + pedir horas",
        "info": "",
        "x": 2580,
        "y": 760,
        "wires": []
    },
    {
        "id": "36a1d79b5545c8c9",
        "type": "comment",
        "z": "f3e96f594243addc",
        "name": "Error",
        "info": "",
        "x": 3170,
        "y": 720,
        "wires": []
    },
    {
        "id": "fbfde5c77722251c",
        "type": "comment",
        "z": "f3e96f594243addc",
        "name": "Guardar reserva",
        "info": "",
        "x": 3200,
        "y": 800,
        "wires": []
    },
    {
        "id": "8840447e1a493fc9",
        "type": "function",
        "z": "f3e96f594243addc",
        "name": "¿Horas correctas?",
        "func": "var hora_abrir;\nvar hora_cerrar;\nvar inicio_nueva_reserva;\nvar fin_nueva_reserva;\nvar error = false;\n// Comprobar que la hora de inicio es anterior a la hora de fin\nif (inicio_nueva_reserva >= fin_nueva_reserva) {\n    error = true;\n} else {\n    // Comprobar que las horas están dentro del horario de Skapalab puedes imprimir con Skapalab cerrao\n    if (inicio_nueva_reserva < hora_abrir || inicio_nueva_reserva > hora_cerrar) {\n        error = true;\n    } else {\n        // Comprobar que las horas no se solapan con otra reserva\n        for (const i of msg.payload) {\n            if (msg.payload[i].hora_inicio >= inicio_nueva_reserva && msg.payload[i].hora_inicio < fin_nueva_reserva) {\n                error = true;\n                break;\n            }\n            if (msg.payload[i].hora_fin > inicio_nueva_reserva && msg.payload[i].hora_fin <= fin_nueva_reserva) {\n                error = true;\n                break;\n            }\n        }\n    }\n}\n\nif (!error) {\n    return [ msg, null ];\n} else {\n    return [ null, msg ];\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2910,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "caab87e91c767cc4",
        "type": "function",
        "z": "f3e96f594243addc",
        "name": "",
        "func": "msg.payload.type = \"message\";\nmsg.payload.content = \"pichaffff\";\nmsg.payload.chatId = 430815035;\nmsg.payload.messageId = 1;\nmsg.payload.inbound = false;\nmsg.payload.fallback;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2480,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "894e75328f3d09cf",
        "type": "chatbot-telegram-send",
        "z": "f3e96f594243addc",
        "bot": "3cc01e3e385d0ded",
        "botProduction": "",
        "track": false,
        "passThrough": false,
        "errorOutput": false,
        "outputs": 0,
        "x": 2670,
        "y": 800,
        "wires": []
    },
    {
        "id": "e5f9f1903188062b",
        "type": "comment",
        "z": "f3e96f594243addc",
        "name": "¿Aforo?",
        "info": "",
        "x": 990,
        "y": 760,
        "wires": []
    },
    {
        "id": "559f947c03c38b28",
        "type": "comment",
        "z": "f3e96f594243addc",
        "name": "Comprobar si existe algún usuario con ese nombre y contraseña",
        "info": "",
        "x": 350,
        "y": 1100,
        "wires": []
    },
    {
        "id": "676c91b0b59a4a89",
        "type": "chatbot-message",
        "z": "f3e96f594243addc",
        "name": "Error, día introducido anterior a hoy",
        "message": [
            {
                "message": "La fecha que has introducido es anterior al día de hoy. Por favor, introduce el día de hoy o una fecha posterior. (Formato dd/mm/aaaa)."
            }
        ],
        "language": "none",
        "x": 1380,
        "y": 860,
        "wires": [
            [
                "59a3487e1c1835e3"
            ]
        ]
    },
    {
        "id": "99e352af81bde24b",
        "type": "link out",
        "z": "f3e96f594243addc",
        "name": "",
        "links": [
            "27be31c689baea40"
        ],
        "x": 1915,
        "y": 760,
        "wires": []
    },
    {
        "id": "16ff79ca21cb7d3f",
        "type": "link in",
        "z": "f3e96f594243addc",
        "name": "",
        "links": [
            "66988095b2f77c76"
        ],
        "x": 2055,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "3cc01e3e385d0ded",
        "type": "chatbot-telegram-node",
        "botname": "SkapaLaBot",
        "usernames": "",
        "token": "5084907312:AAFDpRGPmrdDihcbN7ZjePncQ779rPZBYWc",
        "providerToken": "",
        "polling": "1",
        "store": "",
        "log": "",
        "debug": false,
        "webHook": "",
        "connectMode": "polling"
    },
    {
        "id": "f605fa69.8f5008",
        "type": "mongodb",
        "hostname": "iot.ac.uma.es",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "II8",
        "name": ""
    }
]